{% if customer %}
{% assign repeat_list = "" %}
	<ul>
		{% for tag in customer.tags %}
			{% capture tag_id %}{{ tag }}{% endcapture %}
			{% assign tag_count = 0 %}
			{% assign tag_size = tag.size %}
			{% for tag in customer.tags %}
				{% capture cur_tag %}{{ tag }}{% endcapture %}
				{% if cur_tag contains tag_id %}
					{% assign difference = tag_size | minus:tag.size %}
					{% if difference == 0 %}
						{% assign the_test = tag_id %}
					{% else %}
						{% assign the_test = "" %}
					{% endif %}
				{% endif %}
			{% endfor %}	
			
			{% for product in collections.all.products %}
				{% capture repeat_test %}{{ product.id }}{% endcapture %}
				{% unless repeat_list contains repeat_test %}
					{% capture product_id %}{{ product.id }}{% endcapture %}
					{% assign difference_one = tag_size | minus:product.id.size %}
					{% assign difference = difference_one | money_without_currency | times:100 %}
					{% capture difference_check %}{{ difference | divided_by:2 }}{% endcapture %}
					{% assign check = difference_check | split: '.' %}		
					{% if check[1] contains "5" %}{% assign display = "false" %}{% else %}{% assign display = "true" %}{% endif %}
					{% if the_test contains product_id and display == "true" %}
						<li>
							<a href="{{ product.url }}">{{ product.title }}</a>
							{% form 'customer' %}
								<input type="hidden" id="contact_email" name="contact[email]" value="{{ customer.email }}"/>
								<input type="hidden" name="contact[tags]" id="contact_tags" value="x{{ tag_id }}" />
								<button type="submit">remove</button>
							{% endform %}
							<form action="/cart/add" method="post">
								<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
								<button type="submit">add to cart</button>
							</form>
						</li>
					{% endif %}
					{% capture repeat_list %}{{ repeat_list }} {{ repeat_test }}{% endcapture %}
				{% endunless %}
			{% endfor %}
		{% endfor %}
	</ul>
	
	<a href="mailto:?subject=My%20{{ shop.name | replace: " ","%20" }}%20Wish%20List&amp;body=I've%20added%20the%20following%20items%20to%20my%20wish%20list%20at%20{{ shop.name | replace: " ","%20" }}{% for tag in customer.tags %}{% assign the_test = "" %}{% capture tag_id %}{{ tag }}{% endcapture %}{% assign tag_count = 0 %}{% assign tag_size = tag.size %}{% for tag in customer.tags %}{% capture cur_tag %}{{ tag }}{% endcapture %}	{% if cur_tag contains tag_id %}{% assign difference = tag_size | minus:tag.size %}{% if difference == 0 %}{% assign the_test = tag_id %}{% else %}{% assign the_test = "" %}{% endif %}{% endif %}{% endfor %}{% for product in collections.all.products %}{% capture product_id %}{{ product.id }}{% endcapture %}{% assign difference_one = tag_size | minus:product.id.size %}{% assign difference = difference_one | money_without_currency | times:100 %}{% capture difference_check %}{{ difference | divided_by:2 }}{% endcapture %}{% assign check = difference_check | split: '.' %}{% if check[1] contains "5" %}{% assign display = "false" %}{% else %}{% assign display = "true" %}{% endif %}{% if the_test contains product_id and display == "true" %}%0A%0A{{ product.title | replace: " ","%20" }}%3A%20%20{{ shop.url }}{{ product.url }}{% endif %}{% endfor %}{% endfor %}{% endfor %}">Share my wish list via email</a>
{% else %}
	<p>To create a wish list you must <a href="/account/login">sign in</a> (<a href="/account/register">create an account</a>).</p>
{% endif %}

