{% if customer %} 
	{% capture value %}{{ product.id }}{% endcapture %}
	{% capture productID %}{{ product.id }}{% endcapture %}
	{% for tag in customer.tags %}
		{% capture tagID %}{{ tag }}{% endcapture %}
		{% if tagID contains productID %}
			{% assign value = 'x' | append:tag %}
		{% endif %}
	{% endfor %}

	{% assign check = value.size | minus:productID.size | modulo:2 %}
	{% if check == 0 %}{% assign display_button = true %}{% else %}{% assign display_button = false %}{% endif %}

	{% if display_button %}
		{% form 'customer' %}
			<input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
			<input type="hidden" name="contact[tags]" value="{{ value }}" />
			<button type='submit'>add to wish list</button>
		{% endform %}
	{% else %}
		<p>This product is in your <a href="/pages/wish-list">wish list</a></p>
	{% endif %}
{% else %}
	<p>To add this product to your wish list you must <a href="/account/login">sign in</a> or <a href="/account/register">create an account</a>.</p>
{% endif %}