{% if customer %} 
	{% assign value = product.id %}
	{% capture productID %}{{ product.id }}{% endcapture %}
	{% for tag in customer.tags %}
		{% capture tagID %}{{ tag }}{% endcapture %}
		{% if tagID contains productID %}
			{% capture value %}x{{ tagID }}{% endcapture %}
		{% endif %}
		{% if value.size == 0 %}{% assign value = productID %}{% endif %}
	{% endfor %}

	{% unless value.size == 0 %}
		{% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
		{% assign check = check | split:'.' %}
		{% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
	{% endunless %}

	{% if display %}
		{% form 'customer' %}
			<input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
			<input type="hidden" name="contact[tags]" value="{{ value }}" />
			<button type='submit'>add to wish list</button>
		{% endform %}
	{% else %}
		<p>This product is in your <a href="/pages/wish-list">wish list</a></p>
	{% endif %}
{% else %}
	<p>To add this product to your wish list you must <a href="/account/login">sign in</a> or <a href="/account/register">create an account</a>.</p>
{% endif %}
